$prefix: "color";
.#{$prefix}-default {
    background: transparent;
    color: #4761d5;
}
.#{$prefix}-40a9ff {
    background: #40a9ff;
    color: #fff;
}
.#{$prefix}-36d982 {
    background: #36d982;
    color: #fff;
}
.#{$prefix}-476dd5 {
    background: #476dd5;
    color: #fff;
}
.#{$prefix}-ff4940 {
    background: #40a9ff;
    color: #fff;
}
